<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Devart.Data" version="5.0.2531" targetFramework="net47" />
  <package id="Devart.Data.SQLite" version="5.16.1739" targetFramework="net47" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Authorization" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Components" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Components.Analyzers" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Components.Forms" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Metadata" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net47" />
  <package id="Microsoft.Data.Sqlite" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.JSInterop" version="3.1.9" targetFramework="net47" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net47" />
  <package id="Mono.Data.Sqlite" version="1.0.61" targetFramework="net47" />
  <package id="Net.Core" version="0.1.12.0" targetFramework="net47" />
  <package id="sqlite-net" version="1.6.292" targetFramework="net47" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.2" targetFramework="net47" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net47" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.2" targetFramework="net47" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.2" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net47" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net47" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net47" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net47" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>